.imc {
  padding: 48px;
}

.imcTitle {
  text-align: center;
  color: #1e1e1e;
  font-size: 24px;
}

.imcContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  padding-top: 1.5rem;
}

.imcHalter img {
  width: 32rem;
}

.imcForms {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  color: #f8fafc;
  background-color: #1e1e1e;
  border-radius: 8px;
}

#form,
form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

#title::after {
  position: absolute;
  content: "";
  background-color: #16a34a;
  width: 8rem;
  height: 3px;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.inputBox label {
  font-size: 1.1rem;
  color: #cbd5e1;
  font-weight: 500;
}

.inputField {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3f3f46;
  padding: 0.3rem;
  border-radius: 3px;
  margin-top: 3px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.inputField span,
.inputField i {
  color: #cbd5e1;
  font-size: 1.3rem;
  padding: 0.6rem 1rem;
}

.inputField input {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 1.3rem;
  color: #f8fafc;
  padding: 0 0.5rem;
}

.inputField input::-webkit-outer-spin-button,
.inputField input::-webkit-inner-spin-button {
  appearance: none;
}

.inputField input:focus {
  outline: none;
}

.calculate {
  border: none;
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #16a34a;
  color: #f8fafc;
  padding: 0.5rem 0;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.calculate:hover,
.calculate:focus {
  background-color: #15803d;
  transform: scale(1.05);
}

button {
  background-color: #16a34a;
  border: none;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  width: 25rem;
  height: 3rem;
  border-radius: 5px;
  color: #f8fafc;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

button:hover,
button:focus {
  background-color: #15803d;
}

.infos {
  border-top: 1px solid #ffffff34;
  padding: 0.75rem 0;
}

.bmi {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.bmi span:first-child {
  font-size: 2.25rem;
}

.bmi span:last-child {
  font-size: 0.95rem;
  color: #cbd5e1;
}

.result {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.85rem 0 1rem 0;
}

#result {
  display: flex;
  gap: 2rem;
  align-items: center;
  border-top: 1px solid #ffffff34;
  padding: 0.75rem 0;
}

#bmi {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.25rem;
}

#bmi span:last-child {
  font-size: 0.875rem;
  color: #cbd5e1;
}

#description {
  width: 15.5rem;
}

.more_info {
  border-top: 1px solid #ffffff34;
  padding-top: 1.5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 0.5rem;
  color: #16a34a;
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;

}

.more_info a {
  color: #16a34a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.95rem;
  text-decoration: none;
  transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;

}

.more_info:hover,
.more_info a:hover {
  color: #4ade80;
}

#more_info {
  border-top: 1px solid #ffffff34;
  padding-top: 1.5rem;
}

#more_info a {
  color: #16a34a;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-size: 0.875rem;
  text-decoration: none;
  transition: color 0.5s;
}

#more_info a:hover {
  color: #cbd5e1;
}

.hidden {
  display: none;
}

.normal {
  color: #16a34a;
}

.attention {
  color: #dc2626;
}

@media screen and (max-width: 1024px) {
  .imcHalter {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .imcForms {
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 1rem;
  }

  .inputField {
    align-items: stretch;
  }

  .inputField span,
  .inputField i {
    padding: 0.5rem 0;
    font-size: 1rem;
  }

  .inputField input {
    font-size: 1rem;
    padding: 0.5rem;
  }

  button {
    width: 100%;
    font-size: 1rem;
    height: 2.5rem;
  }

  .result {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .title {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .inputBox label {
    font-size: 0.75rem;
    white-space: nowrap;
  }
}