.formas {
    padding: 48px;
}
  
.formasTitle {
    text-align: center;
    color: #1E1E1E;
    font-size: 24px;
}

.container {
    background-color: #f0f8ff;
    width: 64%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    margin: 60px auto 0; /* Centraliza horizontalmente e adiciona margem superior */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabButtons {
    display: flex;
    gap: 6px;
}

.tabBtn {
    width: 100%;
    border: none;
    color: #020617;
    background-color: #f0f8ff;
    border-radius: 8px 8px 0px 0px;
    font-weight: 500;
    padding: 8px;
    cursor: pointer;
    transition: background-color .3s ease;
}

.tabBtn.active {
    background-color: #c7d2fe;
}

.tabBtn:hover {
    background-color: #a5b4fc;
}

.content {
    display: none;
}

.content.show {
    display: flex;
    gap: 14px;
    background-color: #c7d2fe;
    border-radius: 0px 0px 8px 8px;
    padding: 16px;
}
