.formas {
  padding: 48px;
}

.formasTitle {
  text-align: center;
  color: #1e1e1e;
  font-size: 24px;
}

.panel {
  background-color: #f5f5f5; /* Cor de fundo leve para contraste */
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.result {
  font-size: 16px;
  font-weight: bold;
}

.MuiTab-root {
  color: #333; /* Cor do texto das abas */
}

.MuiTab-root.Mui-selected {
  color: #007bff; /* Cor do texto da aba selecionada */
}
