.footer {
  background-color: #1e1e1e;
  padding: 70px 0;
  width: 100%;
}

.container {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

.footerLogo {
  color: #ffffff;
}

.footerLogoAlinhar a {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #ffffff;
}

.footerLogoAlinhar a h3 {
  font-size: 24px;
}

.footerLogo img {
  height: 40px;
  width: 40px;
}

.footerLogoParagrafo {
  margin-top: 12px;
  font-size: 14px;
  color: rgba(187, 187, 187, 0.8);
}

.footerCol {
  flex: 1;
  min-width: 240px;
  padding: 0 15px;
  margin: 2%;
}

.footerCol h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footerCol h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgba(37, 99, 235, 0.87);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footerCol ul {
  list-style: none;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.footerCol ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #bbbbbb;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footerCol ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

.socialLinks a {
  display: flex;
  height: 44px;
  width: 44px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #1e1e1e;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.socialLinks a:hover {
  color: #24262b;
  background-color: rgba(255, 255, 255, 0.5);
}

/* Responsive */
@media (max-width: 767px) {
  .footerCol {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footerCol {
    width: 100%;
  }
}
